.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-footer {
    text-align: right;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.post-grouped-date {
    border-top: 1px solid #e0e0e0;
    font-size: 150%;
}
div.post-grouped-content {
    min-height: 32px;
}
td { border: 1px solid red; width: 1.851%; height: 1.851%; }
div.blue {
    background-color: blue;
}
div.red {
    background-color: red;
}
div.week {
    font-size: 1vw;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}
.navbar {
    background-color: #d6e9ca;
    border-color: #fdeff2;
}
.nav.navbar-nav li a {
    color: #6e4a55;
}
.navbar-header .navbar-brand {
    color: #6e4a55;
}
