{% set weekday = current_time.weekday() %}
<ul class="contribution-graph">
    {% for post in posts %}
        {% if post.update_daysago() %}{% endif %}
    {% endfor %}
        
    <table>
    {% for i in range(7) %}
        <tr>
        {% if i <= weekday %}
            {% for j in range(53) %}
                <td></td>
            {% endfor %}
        {% else %}
            {% for j in range(52) %}
                <td></td>
            {% endfor %}
            <td></td>
        {% endif %}
        </tr>
    {% endfor %}
    </table>
</ul>
