{% set weekday = current_time.weekday() %}
<div class="contribution-graph">
    
    <center>
    <div class="contribution-graph-content">
        {% for post in posts %}
            {% if post.update_daysago() %}{% endif %}
        {% endfor %}
        <table>
        {% for i in range(7) %}
            <tr>
            {% if i <= weekday %}
                {% for j in range(53) %}
                    <td class="one"></div></td>
                {% endfor %}
            {% else %}
                {% for j in range(52) %}
                    <td class="one"></div></td>
                {% endfor %}
                <td class="one"></div></td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
    </div>
    </center>

    <div class="contribution-graph-footer">
        Less
        <table>
            <tr>
                {% for i in range(6) %}
                    {% if i == 0 %}
                        <td class="zero"></div></td>
                    {% elif i == 1 %}
                        <td class="one"></div></td>
                    {% elif i == 2 %}
                        <td class="two"></div></td>
                    {% elif i == 3 %}
                        <td class="three"></div></td>
                    {% elif i == 4 %}
                        <td class="four"></div></td>
                    {% elif i == 5 %}
                        <td class="five"></div></td>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
        More
    </div>

</div>
