{% set weekday = current_time.weekday() %}
{% set counter = [0] %}
{% for post in posts %}
    {% if post.update_daysago() %}{% endif %}
    {% if counter.append(counter.pop()+1) %}{% endif %}
{% endfor %}
<div class="contribution-graph">


    <div class="contribution-graph-header">
        {{ counter.pop() }} posts in the last year
    </div>


    <div class="contribution-graph-thumbnail">
        <div class="contribution-graph-thumbnail-week">Sun</div>
        <div class="contribution-graph-thumbnail-week">Mon</div>
        <div class="contribution-graph-thumbnail-week">Tue</div>
        <div class="contribution-graph-thumbnail-week">Web</div>
        <div class="contribution-graph-thumbnail-week">Thu</div>
        <div class="contribution-graph-thumbnail-week">Fri</div>
    </div>

    <center>
    
    <div class="contribution-graph-content">
        <table>
        {% for i in range(7) %}
            <tr>
            {% if i <= weekday %}
                {% for j in range(53) %}
                    <td class="one"></td>
                {% endfor %}
            {% else %}
                {% for j in range(52) %}
                    <td class="one"></td>
                {% endfor %}
                <td class="one"></td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
    </div>

    </center>

    <div class="contribution-graph-footer">
        <span>Less</span>
        <table>
            <tr>
                {% for i in range(6) %}
                    {% if i == 0 %}
                        <td class="zero"></td>
                    {% elif i == 1 %}
                        <td class="one"></td>
                    {% elif i == 2 %}
                        <td class="two"></div></td>
                    {% elif i == 3 %}
                        <td class="three"></td>
                    {% elif i == 4 %}
                        <td class="four"></td>
                    {% elif i == 5 %}
                        <td class="five"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
        <span>More</span>
    </div>

</div>
